*{
    margin: 0;
    padding: 0;
}

.heading h1{
    margin: 1vh auto;
    padding: 1vh auto;
    text-align: center;
    color:white;
    border-radius: 1vh;
height: 5vh;
}
#complete{
    margin: 0;
    background-image: linear-gradient(rgb(7, 60, 129),rgba(4, 25, 88, 0.975),rgb(2, 20, 55));
    width: 100%;
    height: 100%;
  
}
#image{
    margin: 1vh;
    padding: 1vh 1vw;
    overflow-block: 0 ;
    width: 50%;
   
    background-color: rgb(46, 128, 191);
    height: 96vh;
    border-radius: 1vh;
    background-blend-mode: darken;
}
#image img{
    justify-content: center;
    max-width: 100%;
    border-radius: 2vh;
}
#image p{
    color: rgb(254, 255, 255);
}
#details{
    border-radius: 1vh;
    padding: 1vh 1vw;
    margin: 1vh;
color: wheat;
}
#form {
    display: flex;
    flex-direction: column;
}
#sign-in h3 {
padding: 2vh;
}
#signup-btn{
    margin-top: 0.5vh;
    width: 20%;
    
}
#signup-btn:hover{
    cursor: pointer;
    box-shadow: 0.5vh 0.5vh;
}
#login-btn:hover{
    cursor: pointer;
    box-shadow: 0.5vh 0.5vh;
}
#login-btn{
    margin-top: 0.5vh;
    width: 20%; 
}